.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 2px;

}

.white-font {
    color: white !important;
}

.gray-font {
    color: gray !important;
}

.black-font {
    color: black !important;
}

.green-font {
    color: green !important;
}

.blue-font {
    color: blue !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.no-padding {
    padding: 0 !important;
}